@import "tailwindcss";

@plugin "daisyui" {

    themes: sunset, lofi;
}

@plugin 'daisyui/theme' {

    name: sunset;

    --color-secondary: hsla(271 86% 40.4% / 0.92);

}




[x-cloak] {
    display: none !important;
}